Setting up

In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model
from sklearn import tree
from sklearn.metrics import accuracy_score
from sklearn import metrics

import os
print(os.listdir("../input"))

training_file = "../input/titanic/train.csv"
testing_file = "../input/titanic/test.csv"
control_file = "../input/titanic/gender_submission.csv"

['titanic']

In [2]:
training_data = pd.read_csv(training_file)
testing_data = pd.read_csv(testing_file)
control_data = pd.read_csv(control_file)
print(training_data)
print(testing_data)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]
     PassengerId  Pclass                                          Name  \
0            892       3                              Kelly, Mr. James
1            893       3              Wilkes, Mrs. James (Ellen Needs)
2            894       2                     Myles, Mr. Thomas Francis
3            895       3                              Wirz, Mr. Albert
4            896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)
..           ...     ...                                           ...
413         1305       3                            Spector, Mr. Woolf
414         1306       1                  Oliva y Ocana, Dona. Fermina
415         1307       3                  Saether, Mr. Simon Sivertsen
416         1308       3                           Ware, Mr. Frederick
417         1309       3                      Peter, Master. Michael J

        Sex   Age  SibSp  Parch              Ticket      Fare Cabin Embarked
0      male  34.5      0      0              330911    7.8292   NaN        Q
1    female  47.0      1      0              363272    7.0000   NaN        S
2      male  62.0      0      0              240276    9.6875   NaN        Q
3      male  27.0      0      0              315154    8.6625   NaN        S
4    female  22.0      1      1             3101298   12.2875   NaN        S
..      ...   ...    ...    ...                 ...       ...   ...      ...
413    male   NaN      0      0           A.5. 3236    8.0500   NaN        S
414  female  39.0      0      0            PC 17758  108.9000  C105        C
415    male  38.5      0      0  SOTON/O.Q. 3101262    7.2500   NaN        S
416    male   NaN      0      0              359309    8.0500   NaN        S
417    male   NaN      1      1                2668   22.3583   NaN        C

[418 rows x 11 columns]

Data preprocessing

In [3]:
# remove extranoues features from data
def data_drop(df,x):
    df=df.drop("Ticket", axis=1)
    df=df.drop("Name", axis=1)
    if x == 0:
        df=df.drop("PassengerId", axis=1)
    #df=df.drop("Fare", axis=1)
    df=df.drop("Cabin", axis=1)
    df=df.drop("Age", axis=1)
    return df

control_testing = data_drop(testing_data, 1)
training_data = data_drop(training_data,0)
testing_data = data_drop(testing_data,0)
print(training_data)
print(testing_data)

     Survived  Pclass     Sex  SibSp  Parch     Fare Embarked
0           0       3    male      1      0   7.2500        S
1           1       1  female      1      0  71.2833        C
2           1       3  female      0      0   7.9250        S
3           1       1  female      1      0  53.1000        S
4           0       3    male      0      0   8.0500        S
..        ...     ...     ...    ...    ...      ...      ...
886         0       2    male      0      0  13.0000        S
887         1       1  female      0      0  30.0000        S
888         0       3  female      1      2  23.4500        S
889         1       1    male      0      0  30.0000        C
890         0       3    male      0      0   7.7500        Q

[891 rows x 7 columns]
     Pclass     Sex  SibSp  Parch      Fare Embarked
0         3    male      0      0    7.8292        Q
1         3  female      1      0    7.0000        S
2         2    male      0      0    9.6875        Q
3         3    male      0      0    8.6625        S
4         3  female      1      1   12.2875        S
..      ...     ...    ...    ...       ...      ...
413       3    male      0      0    8.0500        S
414       1  female      0      0  108.9000        C
415       3    male      0      0    7.2500        S
416       3    male      0      0    8.0500        S
417       3    male      1      1   22.3583        C

[418 rows x 6 columns]

In [4]:
# remove cells from the training set with missing relevant data
def data_check(df):
    #df['Age'] = df['Age'].fillna(df['Age'].mean())
    df = df.dropna(axis=0)
    df = df.reset_index()
    df = df.drop("index", axis=1)
    return df
control_testing = data_check(control_testing)
training_data = data_check(training_data)
testing_data = data_check(testing_data)
print(training_data)
print(testing_data)

     Survived  Pclass     Sex  SibSp  Parch     Fare Embarked
0           0       3    male      1      0   7.2500        S
1           1       1  female      1      0  71.2833        C
2           1       3  female      0      0   7.9250        S
3           1       1  female      1      0  53.1000        S
4           0       3    male      0      0   8.0500        S
..        ...     ...     ...    ...    ...      ...      ...
884         0       2    male      0      0  13.0000        S
885         1       1  female      0      0  30.0000        S
886         0       3  female      1      2  23.4500        S
887         1       1    male      0      0  30.0000        C
888         0       3    male      0      0   7.7500        Q

[889 rows x 7 columns]
     Pclass     Sex  SibSp  Parch      Fare Embarked
0         3    male      0      0    7.8292        Q
1         3  female      1      0    7.0000        S
2         2    male      0      0    9.6875        Q
3         3    male      0      0    8.6625        S
4         3  female      1      1   12.2875        S
..      ...     ...    ...    ...       ...      ...
412       3    male      0      0    8.0500        S
413       1  female      0      0  108.9000        C
414       3    male      0      0    7.2500        S
415       3    male      0      0    8.0500        S
416       3    male      1      1   22.3583        C

[417 rows x 6 columns]

Convert alphanumeric data to numeric

In [5]:
def alpha_to_num(df):
    df['Sex'].mask(df['Sex'] == 'male', 0, inplace=True)
    df['Sex'].mask(df['Sex'] == 'female', 1, inplace=True)
    df['Embarked'].mask(df['Embarked'] == 'S', 0, inplace=True)
    df['Embarked'].mask(df['Embarked'] == 'C', 1, inplace=True)
    df['Embarked'].mask(df['Embarked'] == 'Q', 2, inplace=True)
    
    df['Embarked'] = df['Embarked'].astype('category')
    df['Sex'] = df['Sex'].astype('category')
    return df
control_testing = alpha_to_num(control_testing)
training_data = alpha_to_num(training_data)
testing_data = alpha_to_num(testing_data)
print(training_data)
print(testing_data)

     Survived  Pclass Sex  SibSp  Parch     Fare Embarked
0           0       3   0      1      0   7.2500        0
1           1       1   1      1      0  71.2833        1
2           1       3   1      0      0   7.9250        0
3           1       1   1      1      0  53.1000        0
4           0       3   0      0      0   8.0500        0
..        ...     ...  ..    ...    ...      ...      ...
884         0       2   0      0      0  13.0000        0
885         1       1   1      0      0  30.0000        0
886         0       3   1      1      2  23.4500        0
887         1       1   0      0      0  30.0000        1
888         0       3   0      0      0   7.7500        2

[889 rows x 7 columns]
     Pclass Sex  SibSp  Parch      Fare Embarked
0         3   0      0      0    7.8292        2
1         3   1      1      0    7.0000        0
2         2   0      0      0    9.6875        2
3         3   0      0      0    8.6625        0
4         3   1      1      1   12.2875        0
..      ...  ..    ...    ...       ...      ...
412       3   0      0      0    8.0500        0
413       1   1      0      0  108.9000        1
414       3   0      0      0    7.2500        0
415       3   0      0      0    8.0500        0
416       3   0      1      1   22.3583        1

[417 rows x 6 columns]

Training and Testing Decision Trees

In [6]:
x = training_data[['Pclass', 'Sex', 'SibSp', 'Parch', 'Fare', 'Embarked']]
y = training_data[['Survived']]

x = x.to_numpy()
y = y.to_numpy()

testing_data = testing_data.to_numpy()
model = tree.DecisionTreeClassifier(max_depth = 10)
model = model.fit(x, y)
print("Model accuracy (training): " + str(round(model.score(x, y), 2)))
survival_predictions = model.predict(testing_data)

Model accuracy (training): 0.89

Formatting and Comparing Results

In [7]:
results = pd.DataFrame(survival_predictions, columns = ['Survived'])
pass_id = control_testing["PassengerId"]
results = results.join(pass_id)
cols = results.columns.tolist()
cols = cols[-1:] + cols[:-1]
results = results[cols]
#print(results)

def fill_missing_range(df, field, range_from, range_to, range_step=1, fill_with=0):
    return df\
      .merge(how='right', on=field,
            right = pd.DataFrame({field:np.arange(range_from, range_to, range_step)}))\
      .sort_values(by=field).reset_index().fillna(fill_with).drop(['index'], axis=1)

results = fill_missing_range(results, "PassengerId", 892, 1310, 1, -1)
results["Survived"] = results["Survived"].astype(int)
print(results)

print("Model accuracy (predicted vs gendered): " + str(round(accuracy_score(control_data["Survived"], results["Survived"]), 2)))
results.to_csv("submission.csv", index=False)

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]
Model accuracy (predicted vs gendered): 0.88